table {
  border-collapse: collapse;
  text-align: center;
  margin: 0 auto;
}

.squares {
  width: 20px;
  height: 20px;
  background-color: lightgray;
  border: 1px solid gray;
}

#grid-container {
}

.center {
	text-align: center;
	margin-bottom: 10px;
}